.menu {
  background-color: #f7f7f7;
  border-right: 5px solid rgb(226, 216, 216);
  height: 100vh;
}
.content {
  background-color: #d9e2ef;
  height: 700px;
  overflow-y: scroll;
}

.list-group-item {
  background-color: #f7f7f7;
}
